{% extends 'base.html' %}
{% load unicorn %}
{% block content %}
  <div>
    <div class="col-lg-3" style="float: left;border-right: solid;">
          <div style="background-color: #00bfff;">
                <span style="color: rgb(255, 255, 255); text-align: center;"><h2>Carga de archivo</h2></span>
          </div>
          <div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Cargar">
                </form>






          </div>
    </div>
    <div class="col-lg-9" style="float: left;">
        <h2 style="text-align: center;">Visualización de tabla</h2>

    </div>
</div>
{% endblock %}